version: '3.8'

services:
  nginx:
    image: nginx:latest
    container_name: censudex-nginx
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    ports:
      - "80:80"
    restart: unless-stopped